.EventCard {
    margin: 8px;
    display: inline-block;
    height: 550px;
    width: 400px;
    border-radius: 16px !important;
}

.PageBar {
    display: flex;
    justify-content: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
